# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Global ignores
node_modules/
dist/
tmp/
out-tsc/
bazel-out/
.DS_Store
Thumbs.db
*.apk

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

# Frontend ignores
frontend/.angular/cache
frontend/.sass-cache/
frontend/connect.lock
frontend/coverage/
frontend/testem.log
frontend/typings/
frontend/__screenshots__/

# Capacitor (Frontend)
frontend/android/app/build/
frontend/android/.gradle/
frontend/android/build/
frontend/android/app/.cxx/

# Backend ignores
backend/.env
backend/*.js.map

